.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.333% - 16px); 
    max-width: calc(33.333% - 16px);
    min-width: 350px;
    background-color: #f4f4f4;
    border-radius: 24px;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-card:hover {
    background-color: #ebebeb;
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.pokemon-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background: linear-gradient(135deg, #000000 0%, #ff0808d0 50%)
}

.pokemon-info {
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.pokemon-name {
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin: 0;
}

.pokemon-type {
    padding: 8px 16px;
    border-radius: 20px;
    color: rgb(247, 240, 236);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase ;
}

.type-fire {
    background: linear-gradient(135deg, #e42503 0%, #000000 80%);
}

.type-electric {
    background: linear-gradient(135deg, #03e459 0%, #000000 80%);
}

.type-water {
    background: linear-gradient(135deg, #03c2e4 0%, #000000 80%);
}

.type-normal {
    background: linear-gradient(135deg, #154b2a 0%, #000000 80%);
}

.type-ghost {
    background: linear-gradient(135deg, #c2e403 0%, #000000 80%);
}

.type-psychic {
    background: linear-gradient(135deg, #e403b3 0%, #000000 80%);
}

.type-grass {
    background: linear-gradient(135deg, #6c03e4 0%, #000000 80%);
}

@media screen and (max-width: 900px) {
    .pokemon-grid {
        width: 100%;
        gap: 8px;
    }

    .pokemon-card {
        flex: calc(50px - 16px);
        max-width: calc(50% - 16px);
    }
}

@media screen and (max-width: 480px) {
    .pokemon-grid {
        gap: 8px;
    }

    .pokemon-card {
        flex: 100%;
        max-width: 100%;
    }
}