.navbar {
    position: sticky;
    top: 0;
    background-color: rgb(54, 153, 29);  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    z-index: 1000;
}

.nav-logo img {
    width: 200px
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.trainers-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.trainer-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background: linear-gradient(135deg, #000000 0%, #0461eed0 50%)
    
}

.trainer-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.333% - 16px); 
    max-width: calc(33.333% - 16px);
    min-width: 350px;
    background-color: #f4f4f4;
    border-radius: 24px;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.trainer-card:hover {
    background-color: #ebebeb;
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.trainer-info {
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.trainer-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background: linear-gradient(135deg, #d4b8b3 0%, #000000 80%);
    color: #ffffffd0;
    border-radius: 4px;
}

.trainer-status {
    text-transform: uppercase;
    font-size: 12px;
}

.trainer-region {
    font-size: 16px;
}

.trainer-badges {
    font-size: 16px;
}

@media (max-width: 480px) {
    .trainers-grid {
        grid-template-columns: 1fr;
    }
}